#gameContainer{
    background-color: #355C7D;
    border: black 1px solid;
    padding:10px;
    width:400px;
    height: 500px;    
}

#playersContainer{    
    float: left;
    height: 112px;
}

.player{
    width:190px;
    height:112px;
    background-color: #f8b195;
    float: left;
    margin-right:10px;
}

.player-header{
    color: white;
    width:184px;
    height:18px;
    background-color:#c06c84;
    padding:3px;
    font-size:13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.profile-pic{
    height: 90px;
}

.player-score{
    width: 100px;
    height: 90px;
    font-size:24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    
}

.player-score h1{
    text-align: center;
    margin-top: 10px;
    color: white;
}

#scoresContainer{    
    height: 260px;        
    /*background-color: lightslategray;*/
    clear: both;
    float: left;
    margin-top:10px;
}

.playerScores{
    width:190px;
    height: 260px;        
    /*background-color:orange;*/
    float:left;
    margin-right: 10px;
}
.player-score-row{
    /*width: 180px;*/
    width:100%;
    height: 40px;
    margin-bottom: 4px;
    background-color: #f67280;    
    
}
.score-label{
    color: white;
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin:6px 6px;
}
.score{
    width:40px;
    height: 40px;
    background-color: #f8b195;       
    float: right;
    text-align: center;
    color: white;
}

#dice{    
    float: left;
    margin-top:10px;
    width:390px;              
}

.dice{
    width:71px;    
    float:left;
    margin-left: 6px;
}

.dice-hold{
    opacity: .5;
}

.roll-button{
    margin-top:10px;
    width: 390px;
    font-size: 20px;
}