#gameContainer{
    background-color: cornflowerblue;
    border: black 1px solid;
    padding:10px;
    width:400px;
    height: 500px;    
}

#playerContainer{
    margin-bottom: 100px;
}

.player{
    width:190px;
    height:112px;
    background-color: pink;
    float: left;
    margin-right:10px;
}

.player-header{
    width:186px;
    height:18px;
    background-color:greenyellow;
    padding:2px;
    font-size:13px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-pic{
    height: 90px;
}

.player-score{
    width: 100px;
    height: 90px;
    background-color: cyan;
    float: right;
    
}

.player-score h1{
    text-align: center;
    margin-top: 10px;
    color: white;
}

#dice{
    margin-top:120px;    
    width:390px;              
}

.dice{
    width:71px;    
    float:left;
    margin-right: 7px;
}

.dice-hold{
    opacity: .5;
}

.roll-button{
    width: 400px;
    font-size: 20px;
}

#scoresContainer{
    width:400px;
    height: 260px;    
    margin-top:10px;
    background-color: lightslategray;
}

.playerScores{
    width:180px;
    height: 260px;        
    background-color:orange;
    float:left;
    margin-right: 20px;
}
.player-score-row{
    width: 180px;
    height: 40px;
    margin-bottom: 4px;
    background-color: lightgoldenrodyellow;    
    
}
.score-label{
    font-size:24px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin:6px 6px;
}
.score{
    width:40px;
    height: 40px;
    background-color: yellowgreen;        
    float: right;
    text-align: center;
}