<div>
  <div id="dice">
    <div [class.dice-hold]="_dice1Hold" class="dice" (click)="holdDice('1')">{{ (_dice | async)?.dice1}}</div>
    <div [class.dice-hold]="_dice2Hold" class="dice" (click)="holdDice('2')">{{ (_dice | async)?.dice2}}</div>
    <div [class.dice-hold]="_dice3Hold" class="dice" (click)="holdDice('3')">{{ (_dice | async)?.dice3}}</div>
    <div [class.dice-hold]="_dice4Hold" class="dice" (click)="holdDice('4')">{{ (_dice | async)?.dice4}}</div>
    <div [class.dice-hold]="_dice5Hold" class="dice" (click)="holdDice('5')">{{ (_dice | async)?.dice5}}</div>
    <button [disabled]="!_allowRoll" (click)="roll()">ROLL</button>
  </div>
  <div id="tricksContainer">
    <div class="tricks">
      <div>
        <div>ones
          <div class="trick-score">{{ (_tricks | async)?.ones }}</div>
        </div>
        <div>twos
          <div class="trick-score">{{ (_tricks | async)?.twos}}</div>
        </div>
        <div>threes
          <div class="trick-score">{{ (_tricks | async)?.threes}}</div>
        </div>
        <div>fours
          <div class="trick-score">{{ (_tricks | async)?.fours}}</div>
        </div>
        <div>fives
          <div class="trick-score">{{ (_tricks | async)?.fives}}</div>
        </div>
        <div>sixes
          <div class="trick-score">{{ (_tricks | async)?.sixes}}</div>
        </div>
      </div>
    </div>
    <div class="tricks">
      <div>
        <div>ones
          <div class="trick-score">{{ (_opponentTricks | async)?.ones }}</div>
        </div>
        <div>twos
          <div class="trick-score">{{ (_opponentTricks | async)?.twos}}</div>
        </div>
        <div>threes
          <div class="trick-score">{{ (_opponentTricks | async)?.threes}}</div>
        </div>
        <div>fours
          <div class="trick-score">{{ (_opponentTricks | async)?.fours}}</div>
        </div>
        <div>fives
          <div class="trick-score">{{ (_opponentTricks | async)?.fives}}</div>
        </div>
        <div>sixes
          <div class="trick-score">{{ (_opponentTricks | async)?.sixes}}</div>
        </div>
      </div>
    </div>
  </div>
</div>